<div class="jumbotron">
  <h1>Deffcomp 2.0</h1> 
  <p>
    <a class="btn btn-lg btn-success" style="margin-top: 10px;" ng-href="#/">
      Logga in <span class="glyphicon glyphicons-user-asterisk"></span>
    </a>
    <a class="btn btn-lg btn-info" style="margin-top: 10px;" ng-href="#/">
      Registrera dig <span class="glyphicon glyphicons-user-asterisk"></span>
    </a>
  </p>
</div>

<div class="row marketing mainContent">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
